*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000; 
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 20px 100px;
    
   
}

.logo img{
    max-width: 100%;
    width: 130px;
    height: auto;

}

.navlist{
    display: flex;

}

.navlist li{
    position: relative;
    list-style: none;

}

.navlist a{
    font-size: 20px;
    color: #8f1360;
    font-weight: 500;
    padding: 10px 27px;
    text-decoration: none;
}

.navlist a:hover{
    color: white;
    background-color: #8f1360;
    transform: scale(1.1);
}

.fa-bars{
    font-size: 25px;
    color: #8f1360;
    cursor: pointer;
    z-index: 10001;
    display: none;

}

section{
    padding: 160px 18%;
}

#home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 20px;

}

.home-text h1{
    margin: 10px 0px 25px;
    font-size: 22px;
    line-height: 1;
    
    
}
.home-text h5{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
}
span{
    color: #8f1360;
}

.home-text h3{
    color: #8f1360;
    font-size: 18px;
    font-weight: 550;
}

.home-text p{
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 20px;
}

.home-text a{
    text-decoration: none;
}
 

.social a{
    color: white;
    background-color: #8f1360;
    width: 35px;
    height: 35px;
    border-radius:50% ;
    display: inline-flex;
    justify-content: center;
    font-size: 16px;
    margin-right: 22px;
    margin-bottom: 30px;

}

.fa-brands,.fa-solid{
    margin-top: 9px;
    
}

.social a:hover{
    background-color: black;
    transform: scale(1.1);
    transition: .5s;
}

.btn{
    display: inline-block;
    background-color: black;
    color: #ffff;
    font-size: 16px;
    padding: 10px 25px;
    font-weight: 550;
    line-height: 24px;
    border-radius: 30px;
    transition: ease .40s;
    cursor: pointer;
}

.btn:hover{
    background-color: #8f1360;
    transform: scale(1.1);
}


 .home-img img{
    max-width: 100%;
    width: 540px;
    height: auto;

}

header.sticky{
    background-color: transparent;
}